* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --primary-color: rgba(0, 61, 48, 0.5);
  --accent-color-1: rgb(115, 192, 0);
  --accent-color-2: rgb(234, 0, 255);
  --background: url('snake_assets/background.png') repeat;
  --background-mobile: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-family: 'VT323', monospace;
  background-color: var(--primary-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

#snake-container {
  width: 100%;
}

.snake-container {
  display: grid;
  grid-template:
    'high-scores top-bar inputs' auto
    'high-scores board inputs' 1fr /
    1fr 1fr 1fr;
  width: 100%;
}

.snake-container.game-over::after {
  content: 'GAME OVER';
  grid-area: board;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  padding: 1rem;
}

.snake-container.game-won::after {
  content: 'YOU WON!';
  grid-area: board;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent-color-2);
  background-color: var(--primary-color);
  padding: 1rem;
}

table {
  border-collapse: collapse;
}

header,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 1rem;
}

header {
  border-bottom: 5px solid var(--primary-color);
  margin-bottom: 1rem;
}

header h1 {
  color: var(--accent-color-1);
  font-weight: 900;
  font-size: 3rem;
}

footer p {
  color: var(--accent-color-1);
}

footer strong:not(:first-child) {
  font-weight: 900;
  color: var(--accent-color-2);
}

body {
  background: var(--background);
  backdrop-filter: blur(1px);
}

.snake-top-bar {
  grid-area: top-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  gap: 1ch;
  background-color: var(--primary-color);
}

.snake-score {
  font-weight: 900;
  color: var(--accent-color-1);
  display: flex;
  gap: 0.5rem;
  justify-self: start;
  flex: 1;
  min-width: 13ch;
  display: flex;
  align-items: center;
}

.snake-score::before {
  content: 'SCORE:';
}

.snake-score .score {
  color: var(--accent-color-2);
}

.snake-game-mode-selection {
  display: flex;
  justify-content: center;
  height: 100%;
}

.snake-game-mode-selection .snake-game-mode-button {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  padding: 0 0.5rem;
  height: 100%;
}

.snake-game-mode-selection .snake-game-mode-button.selected {
  color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
}

.snake-high-scores {
  counter-reset: number;
  grid-area: high-scores;
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
  justify-self: center;
}

.snake-high-score-header > span:first-child:after {
  content: ' - ';
}

.snake-high-scores .high-score {
  padding-left: 0.55em;
  counter-increment: number;
  color: var(--accent-color-2);
  display: flex;
  align-items: center;
}

.snake-high-scores .high-score::before {
  content: counter(number) '. ';
  color: var(--accent-color-1);
}

.snake-high-scores .high-score:nth-child(10):before {
  content: counter(number) '.';
  color: var(--accent-color-1);
}

.snake-board {
  background: url('snake_assets/tile.png') repeat;
  border: 5px solid var(--primary-color);
  border-top: none;
  grid-area: board;
  display: grid;
  width: 100%;
  aspect-ratio: 1;
}

.playing .snake-board {
  cursor: none;
}

.snake-inputs {
  grid-area: inputs;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  margin-left: 5%;
  width: fit-content;
  align-self: center;
}

.snake-arrows-container {
  display: grid;
  grid-template:
    '. up .' 1fr
    'left . right' 1fr
    '. down .' 1fr/
    1fr 1fr 1fr;
  background-color: var(--primary-color);
  padding: 0.5rem;
}

.snake-arrows-container .snake-arrow-button {
  font-size: 1.5rem;
  font-weight: 900;
  background-color: var(--primary-color);
  border: var(--accent-color-1) solid 1px;
  cursor: pointer;
  padding: 0;
  width: 3rem;
  height: 3rem;
}

.snake-arrow-button:active,
.snake-arrow-button.active {
  border: 1px solid var(--accent-color-2);
}

.snake-arrow-button > svg {
  fill: var(--accent-color-1);
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
}

.snake-arrow-button:active > svg,
.snake-arrow-button.active > svg {
  fill: var(--primary-color);
  background-color: var(--accent-color-2);
}

.snake-arrows-container .snake-arrow-button:active,
.snake-arrows-container .snake-arrow-button.active {
  background-color: var(--accent-color-1);
  color: var(--primary-color);
}

.snake-arrows-container .snake-up-button {
  grid-area: up;
  transform: rotate(270deg);
}

.snake-arrows-container .snake-down-button {
  grid-area: down;
  transform: rotate(90deg);
}

.snake-arrows-container .snake-left-button {
  grid-area: left;
  transform: rotate(180deg);
}

.snake-arrows-container .snake-right-button {
  grid-area: right;
}

.snake-inputs .snake-buttons-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.snake-inputs .snake-start-button {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  border: var(--accent-color-1) solid 1px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  width: 100%;
}

.snake-inputs .snake-start-button:active,
.snake-inputs .snake-start-button.active {
  background-color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
  color: var(--primary-color);
}

.snake-container.countdown-1::after {
  content: '1';
  grid-area: board;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent-color-2);
  background-color: var(--primary-color);
  padding: 1rem;
}

.snake-container.countdown-2::after {
  content: '2';
  grid-area: board;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  padding: 1rem;
}

.snake-container.countdown-3::after {
  content: '3';
  grid-area: board;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  padding: 1rem;
}

.head.right {
  background: url('snake_assets/head_right.png') center/cover no-repeat;
}

.head.down {
  background: url('snake_assets/head_down.png') center/cover no-repeat;
}

.head.left {
  background: url('snake_assets/head_left.png') center/cover no-repeat;
}

.head.up {
  background: url('snake_assets/head_up.png') center/cover no-repeat;
}

.game-over .head.right {
  background: url('snake_assets/head_dead_right.png') center/cover no-repeat;
}

.game-over .head.down {
  background: url('snake_assets/head_dead_down.png') center/cover no-repeat;
}

.game-over .head.left {
  background: url('snake_assets/head_dead_left.png') center/cover no-repeat;
}

.game-over .head.up {
  background: url('snake_assets/head_dead_up.png') center/cover no-repeat;
}

.body.right-right,
.body.left-left {
  background: url('snake_assets/body_horizontal.png') center/cover no-repeat;
}

.body.up-up,
.body.down-down {
  background: url('snake_assets/body_vertical.png') center/cover no-repeat;
}

.body.up-left,
.body.right-down {
  background: url('snake_assets/body_bottomleft.png') center/cover no-repeat;
}

.body.up-right,
.body.left-down {
  background: url('snake_assets/body_bottomright.png') center/cover no-repeat;
}

.body.down-left,
.body.right-up {
  background: url('snake_assets/body_topleft.png') center/cover no-repeat;
}

.body.down-right,
.body.left-up {
  background: url('snake_assets/body_topright.png') center/cover no-repeat;
}

.tail.right {
  background: url('snake_assets/tail_left.png') center/cover no-repeat;
}

.tail.down {
  background: url('snake_assets/tail_up.png') center/cover no-repeat;
}

.tail.left {
  background: url('snake_assets/tail_right.png') center/cover no-repeat;
}

.tail.up {
  background: url('snake_assets/tail_down.png') center/cover no-repeat;
}

.food {
  background: url('snake_assets/food.png') center/cover no-repeat;
}

::selection {
  background-color: var(--accent-color-2);
  color: var(--primary-color);
}

.link-github {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  color: var(--accent-color-1);
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

.snake-score::after,
.high-score::after {
  width: 2ch;
  height: 2ch;
  content: '';
  background: url('snake_assets/food.png') center/cover no-repeat;
  display: inline-block;
}

.high-score::after {
  margin-left: 0.5rem;
}

@media (max-width: 900px) {
  .snake-container {
    grid-template:
      'top-bar top-bar' auto
      'board board' auto
      'high-scores inputs' 1fr /
      auto 1fr;
    padding: 5vw;
  }

  .snake-inputs {
    align-self: start;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .snake-high-scores {
    justify-self: start;
    align-self: start;
  }

  .snake-high-scores {
    width: 100%;
    height: 100%;
  }

  .snake-board {
    max-height: 98vh;
  }

  .snake-arrows-container {
    width: 100%;
    height: 100%;
  }

  .snake-arrows-container .snake-arrow-button {
    width: 100%;
    height: 100%;
    border: 5px solid var(--accent-color-1);
  }
}

@media (max-width: 600px) {
  body {
    background: var(--background-mobile);
  }

  header > h1 {
    font-size: 2rem;
  }

  .snake-container {
    padding: 0;
    min-height: 100vh;
  }

  .snake-inputs {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-self: start;
    margin: 0;
    gap: 0;
  }

  .snake-arrows-container {
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
    background: none;
    width: 100%;
    height: 100%;
  }

  .snake-arrows-container .snake-arrow-button {
    width: 100%;
    height: 100%;
    border: 5px solid var(--accent-color-1);
  }

  .snake-arrows-container .snake-arrow-button:active,
  .snake-arrows-container .snake-arrow-button.active {
    border: 5px solid var(--accent-color-2);
  }

  .snake-inputs .snake-buttons-container {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    width: 32%;
    height: 33%;
    align-items: center;
    justify-self: center;
    justify-content: center;
    overflow: hidden;
  }

  .snake-inputs .snake-start-button {
    width: 100%;
    height: 100%;
    border: 5px solid var(--accent-color-1);
    font-size: 1.3rem;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-content: center;
    border: none;
  }

  .snake-inputs .snake-start-button:active,
  .snake-inputs .snake-start-button.active {
    border: 5px solid var(--accent-color-2);
  }

  .snake-board {
    width: 100%;
    max-height: 100vh;
    border: none;
    border-top: 1px solid var(--accent-color-1);
    border-bottom: 1px solid var(--accent-color-1);
  }

  .snake-top-bar {
    flex-direction: column-reverse;
    align-items: flex-start;
    font-size: 1.5rem;
    padding: 0.5rem 2ch;
  }

  .snake-game-mode-selection {
    width: 100%;
    justify-content: space-between;
  }

  .snake-high-scores {
    width: fit-content;
    border-right: 1px solid var(--accent-color-1);
    padding: 0.5rem 10px;
    font-size: 0.9rem;
    min-width: 9ch;
  }

  .snake-high-scores .high-score {
    padding: 0;
  }

  .snake-high-score-header > span:first-child {
    width: min-content;
  }

  .snake-high-score-header > span:nth-child(2) {
    color: var(--accent-color-2);
    border: 1px solid var(--accent-color-2);
    width: min-content;
    padding: 0 0.2rem;
  }

  .snake-high-score-header > span:first-child:after {
    content: '';
  }

  .snake-high-score-header {
    display: flex;
    flex-direction: column;
  }

  footer {
    font-size: 0.8rem;
  }

  header,
  footer {
    display: none;
  }

  .snake-top-bar {
    position: relative;
  }

  .snake-top-bar::after {
    content: "Web Tech's Snake Game";
    position: absolute;
    right: 1rem;
    bottom: calc(0.63rem);
    width: clamp(10ch, 30%, 30%);
    font-size: 50%;
    color: var(--accent-color-1);
  }
}
