* {
  box-sizing: border-box;
  margin: 0;
}

/* :root {
  --primary-color: rgba(0, 61, 48, 0.5);
  --accent-color-1: rgb(115, 192, 0);
  --accent-color-2: #22d3ee;

  --background: url('snake_assets/background.png') repeat;
  --background-mobile: var(--background);
  --tile: url('snake_assets/tile.png');
  --head-right: url('snake_assets/head_right.png');
  --head-down: url('snake_assets/head_down.png');
  --head-left: url('snake_assets/head_left.png');
  --head-up: url('snake_assets/head_up.png');
  --body-horizontal: url('snake_assets/body_horizontal.png');
  --body-vertical: url('snake_assets/body_vertical.png');
  --head-dead-right: url('snake_assets/head_dead_right.png');
  --head-dead-down: url('snake_assets/head_dead_down.png');
  --head-dead-left: url('snake_assets/head_dead_left.png');
  --head-dead-up: url('snake_assets/head_dead_up.png');
  --body-bottomleft: url('snake_assets/body_bottomleft.png');
  --body-bottomright: url('snake_assets/body_bottomright.png');
  --body-topleft: url('snake_assets/body_topleft.png');
  --body-topright: url('snake_assets/body_topright.png');
  --tail-left: url('snake_assets/tail_left.png');
  --tail-up: url('snake_assets/tail_up.png');
  --tail-right: url('snake_assets/tail_right.png');
  --tail-down: url('snake_assets/tail_down.png');
  --food: url('snake_assets/food.png');
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  font-family: 'VT323', monospace;
  background-color: var(--primary-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;
}

#snake-container {
  width: 100%;
}

.snake-container {
  display: grid;
  grid-template:
    'high-scores top-bar inputs' auto
    'high-scores board inputs' 1fr /
    1fr 1fr 1fr;
  width: 100%;
}

.snake-container::after,
.snake-alert {
  grid-area: board;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  padding: 1rem;
}

.snake-container::after {
  z-index: 10;
}

.snake-alert {
  z-index: 11;
}

.snake-alert {
  display: none;
}

.snake-alert.shown {
  display: block;
}

.snake-container.game-over::after {
  content: 'GAME OVER';
}

.snake-container.game-won::after {
  content: 'YOU WON!';
  color: var(--accent-color-2);
}

.snake-container.paused::after {
  content: 'PAUSED';
}

table {
  border-collapse: collapse;
}

header,
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  padding: 1rem;
}

header {
  border-bottom: 5px solid var(--primary-color);
  margin-bottom: 1rem;
}

header h1 {
  color: var(--accent-color-1);
  font-weight: 900;
  font-size: 3rem;
}

footer p {
  color: var(--accent-color-1);
}

footer strong:not(:first-child) {
  font-weight: 900;
  color: var(--accent-color-2);
}

body {
  background: var(--background);
  backdrop-filter: blur(1px);
}

.snake-top-bar {
  grid-area: top-bar;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  font-size: 2rem;
  gap: 1ch;
  background-color: var(--primary-color);
}

.snake-score {
  font-weight: 900;
  color: var(--accent-color-1);
  display: flex;
  gap: 0.5rem;
  justify-self: start;
  flex: 1;
  min-width: 13ch;
  display: flex;
  align-items: center;
}

.snake-score::before {
  content: 'SCORE:';
}

.snake-score .score {
  color: var(--accent-color-2);
}

.snake-game-mode-selection-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  font-size: 1.5rem;
  gap: 1ch;
}

.snake-game-mode-label {
  color: var(--accent-color-1);
  font-size: 0.7em;
  width: max-content;
  overflow: hidden;
  white-space: nowrap;
}

.snake-game-mode-selection {
  height: 100%;
  border: 2px solid var(--accent-color-2);
  color: var(--accent-color-2);
  background-color: var(--primary-color);
  border-radius: 0.3rem;
  font-weight: 900;
  cursor: pointer;
  text-align: end;
  min-width: 10ch;
}

.snake-game-mode-selection .snake-game-mode-option {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  border: none;
  width: max-content;
}

.snake-game-mode-selection .snake-game-mode-option.selected {
  color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
}

.snake-high-scores {
  counter-reset: number;
  grid-area: high-scores;
  font-size: 2rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 90%;
  justify-self: center;
}

.snake-high-score-header {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1ch;
}

.snake-high-score-header > span:first-child {
  width: fit-content;
}

.snake-high-score-header > span:nth-child(2) {
  color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
  width: fit-content;
  padding: 0 0.2rem;
}

.snake-high-scores .high-score {
  counter-increment: number;
  color: var(--accent-color-2);
  display: flex;
  align-items: center;
}

.snake-high-scores .high-score::before {
  padding-left: 1ch;
  content: counter(number) ')';
  color: var(--accent-color-1);
  padding-right: 1ch;
}

.snake-high-scores .high-score:nth-child(10)::before {
  padding-left: 0;
}

.snake-board {
  background: var(--tile) repeat;
  border: 5px solid var(--primary-color);
  border-top: none;
  grid-area: board;
  display: grid;
  width: 100%;
  aspect-ratio: 1;
}

.playing .snake-board {
  cursor: none;
}

.snake-inputs {
  grid-area: inputs;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  background-color: var(--primary-color);
  margin-left: 5%;
  width: fit-content;
  align-self: center;
}

.snake-arrows-container {
  display: grid;
  grid-template:
    '. up .' 1fr
    'left . right' 1fr
    '. down .' 1fr/
    1fr 1fr 1fr;
  background-color: var(--primary-color);
  padding: 0.5rem;
}

.snake-arrows-container .snake-arrow-button {
  font-size: 1.5rem;
  font-weight: 900;
  background-color: var(--primary-color);
  border: var(--accent-color-1) solid 1px;
  cursor: pointer;
  padding: 0;
  width: 3rem;
  height: 3rem;
}

.snake-arrow-button:active,
.snake-arrow-button.active {
  border: 1px solid var(--accent-color-2);
}

.snake-arrow-button > svg {
  fill: var(--accent-color-1);
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
}

.snake-arrow-button:active > svg,
.snake-arrow-button.active > svg {
  fill: var(--primary-color);
  background-color: var(--accent-color-2);
}

.snake-arrows-container .snake-arrow-button:active,
.snake-arrows-container .snake-arrow-button.active {
  background-color: var(--accent-color-1);
  color: var(--primary-color);
}

.snake-arrows-container .snake-up-button {
  grid-area: up;
  transform: rotate(270deg);
}

.snake-arrows-container .snake-down-button {
  grid-area: down;
  transform: rotate(90deg);
}

.snake-arrows-container .snake-left-button {
  grid-area: left;
  transform: rotate(180deg);
}

.snake-arrows-container .snake-right-button {
  grid-area: right;
}

.snake-inputs .snake-buttons-container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.snake-inputs .snake-start-button {
  font-size: 1.5rem;
  font-weight: 900;
  color: var(--accent-color-1);
  background-color: var(--primary-color);
  border: var(--accent-color-1) solid 1px;
  cursor: pointer;
  height: 3rem;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template: '. icon counter' / 1fr auto 1fr;
  justify-content: center;
  align-items: center;
}

.snake-inputs .snake-start-button > svg {
  grid-area: icon;
  fill: var(--accent-color-1);
  height: 3rem;
  width: 3rem;
  overflow: hidden;
}

.snake-inputs .snake-start-button > span {
  grid-area: counter;
  width: 80%;
  height: 80%;
  font-size: 2rem;
  background-color: var(--primary-color);
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.snake-inputs .snake-start-button:active,
.snake-inputs .snake-start-button.active {
  background-color: var(--accent-color-2);
  border: 1px solid var(--accent-color-2);
  color: var(--primary-color);
}

.snake-container.countdown-1::after {
  content: '1';
  color: var(--accent-color-2);
}

.snake-container.countdown-2::after {
  content: '2';
}

.snake-container.countdown-3::after {
  content: '3';
}

.head.right {
  background: var(--head-right) center/cover no-repeat;
}

.head.down {
  background: var(--head-down) center/cover no-repeat;
}

.head.left {
  background: var(--head-left) center/cover no-repeat;
}

.head.up {
  background: var(--head-up) center/cover no-repeat;
}

.head.right::after,
.head.left::after,
.tail.right::after,
.tail.left::after {
  content: '';
  display: block;
  height: 100%;
  width: 50%;
  background: var(--body-horizontal) center/cover no-repeat;
}

.head.right::after,
.tail.left::after {
  transform: translateX(-100%);
  transform-origin: right center;
}

.head.left::after,
.tail.right::after {
  transform: translateX(200%);
  transform-origin: left center;
}

.head.down::after,
.head.up::after,
.tail.down::after,
.tail.up::after {
  content: '';
  display: block;
  height: 50%;
  width: 100%;
  background: var(--body-vertical) center/cover no-repeat;
}

.head.down::after,
.tail.up::after {
  transform: translateY(-100%);
  transform-origin: center bottom;
}

.head.up::after,
.tail.down::after {
  transform: translateY(200%);
  transform-origin: center top;
}

.game-over .head.right {
  background: var(--head-dead-right) center/cover no-repeat;
}

.game-over .head.down {
  background: var(--head-dead-down) center/cover no-repeat;
}

.game-over .head.left {
  background: var(--head-dead-left) center/cover no-repeat;
}

.game-over .head.up {
  background: var(--head-dead-up) center/cover no-repeat;
}

.body.right-right,
.body.left-left {
  background: var(--body-horizontal) center/contain repeat;
}

.body.up-up,
.body.down-down {
  background: var(--body-vertical) center/contain repeat;
}

.body.up-left,
.body.right-down {
  background: var(--body-bottomleft) center/cover no-repeat;
}

.body.up-right,
.body.left-down {
  background: var(--body-bottomright) center/cover no-repeat;
}

.body.down-left,
.body.right-up {
  background: var(--body-topleft) center/cover no-repeat;
}

.body.down-right,
.body.left-up {
  background: var(--body-topright) center/cover no-repeat;
}

.tail.right {
  background: var(--tail-left) center/cover no-repeat;
}

.tail.down {
  background: var(--tail-up) center/cover no-repeat;
}

.tail.left {
  background: var(--tail-right) center/cover no-repeat;
}

.tail.up {
  background: var(--tail-down) center/cover no-repeat;
}

.food {
  background: var(--food) center/cover no-repeat;
}

.tail,
.tail::after {
  animation-fill-mode: forwards !important;
}

@keyframes move-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(50%);
  }
}

@keyframes move-left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes move-up {
  0% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes move-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(50%);
  }
}

.right-right {
  transform-origin: left center;
}

.left-left {
  transform-origin: right center;
}

.up-up {
  transform-origin: center bottom;
}

.down-down {
  transform-origin: center top;
}

@keyframes stretch-right {
  0% {
    transform: translateX(200%) scaleX(0.5);
  }
  100% {
    transform: translateX(200%) scaleX(1.5);
  }
}

@keyframes stretch-left {
  0% {
    transform: translateX(-100%) scaleX(0.5);
  }
  100% {
    transform: translateX(-100%) scaleX(1.5);
  }
}

@keyframes stretch-up {
  0% {
    transform: translateY(-100%) scaleY(0.5);
  }
  100% {
    transform: translateY(-100%) scaleY(1.5);
  }
}

@keyframes stretch-down {
  0% {
    transform: translateY(200%) scaleY(0.5);
  }
  100% {
    transform: translateY(200%) scaleY(1.5);
  }
}

.reverse {
  animation-direction: reverse !important;
}

::selection {
  background-color: var(--accent-color-2);
  color: var(--primary-color);
}

.link-github {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  color: var(--accent-color-1);
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

.snake-score::after,
.high-score::after {
  width: 2ch;
  height: 2ch;
  content: '';
  background: var(--food) center/cover no-repeat;
  display: inline-block;
}

.high-score::after {
  margin-left: 0.5rem;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 900px) {
  .snake-container {
    grid-template:
      'top-bar top-bar' auto
      'board board' auto
      'high-scores inputs' 1fr /
      auto 1fr;
    padding: 5vw;
  }

  .snake-inputs {
    align-self: start;
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .snake-high-scores {
    justify-self: start;
    align-self: start;
  }

  .snake-high-scores {
    width: 100%;
    height: 100%;
  }

  .snake-board {
    max-height: 98vh;
  }

  .snake-arrows-container {
    width: 100%;
    height: 100%;
  }

  .snake-arrows-container .snake-arrow-button {
    width: 100%;
    height: 100%;
    border: 5px solid var(--accent-color-1);
  }
}

@media (max-width: 600px) {
  body {
    background: var(--background-mobile);
  }

  header > h1 {
    font-size: 2rem;
  }

  .snake-container {
    padding: 0;
    min-height: 100vh;
  }

  .snake-inputs {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-self: start;
    margin: 0;
    gap: 0;
  }

  .snake-arrows-container {
    grid-row: 1;
    grid-column: 1;
    z-index: 0;
    background: none;
    width: 100%;
    height: 100%;
  }

  .snake-arrows-container .snake-arrow-button {
    width: 100%;
    height: 100%;
    border: 5px solid var(--accent-color-1);
  }

  .snake-arrows-container .snake-arrow-button:active,
  .snake-arrows-container .snake-arrow-button.active {
    border: 5px solid var(--accent-color-2);
  }

  .snake-inputs .snake-buttons-container {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    width: 32%;
    height: 33%;
    align-items: center;
    justify-self: center;
    justify-content: center;
    overflow: hidden;
  }

  .snake-inputs .snake-start-button {
    width: 100%;
    height: 100%;
    border: 5px solid var(--accent-color-1);
    font-size: 1.3rem;
    overflow: hidden;
    border: none;
    gap: 0;
    grid-template:
      'icon' auto
      'counter' 1fr / 1fr;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
  }

  .snake-inputs .snake-start-button > svg {
    height: 3rem;
    width: 3rem;
  }
  .snake-inputs .snake-start-button > span {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
  }

  .snake-inputs .snake-start-button:active,
  .snake-inputs .snake-start-button.active {
    border: 5px solid var(--accent-color-2);
  }

  .snake-board {
    width: 100%;
    max-height: 100vh;
    border: none;
    border-top: 1px solid var(--accent-color-1);
    border-bottom: 1px solid var(--accent-color-1);
  }

  .snake-top-bar {
    flex-direction: column-reverse;
    align-items: flex-start;
    font-size: 1.5rem;
    padding: 0.5rem 1ch;
  }

  .snake-high-scores {
    width: fit-content;
    border-right: 1px solid var(--accent-color-1);
    padding: 0.5rem 10px;
    font-size: 0.9rem;
    min-width: 9ch;
  }

  .snake-high-scores .high-score {
    padding: 0;
  }

  .snake-high-score-header {
    flex-direction: column;
    gap: 0;
  }

  footer {
    font-size: 0.8rem;
  }

  header,
  footer {
    display: none;
  }

  .snake-top-bar {
    position: relative;
  }

  .snake-top-bar::after {
    content: "Web Tech's Snake Game";
    position: absolute;
    right: 1.1ch;
    bottom: 1rem;
    width: clamp(10ch, 25ch, 40%);
    font-size: 50%;
    color: var(--accent-color-1);
  }

  .snake-high-scores .high-score::before {
    padding-right: 0;
  }
}
